@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import "./fonts.css";

:root {
  --color-primary-dark: #171717;
  --color-primary-dark-2: #1e1e1e;
  --color-primary-light: #efefef;
  --color-accent1: #eba2a7;
  --color-accent2: #e85560;
  --color-accent3: #e50819;

  --color-text-dark: #232121;
  --color-text-light: #dedbdb;
  --color-text-accent: #bb3f4a;
  --color-text-accent2: #e85560;
  --color-text-accent3: #e50819;

  /* font */
  --font-family: 'Nunito', sans-serif;
}

.App {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  min-height: 100vh;
  font-family: var(--font-family);
  margin: 0;
}