@import "../App.css";

.comment_interaction {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    opacity: 0.8;
    transition: color 0.2s ease,
        opacity 0.2s ease;
}

.comment_interaction:hover {
    opacity: 1;
}

.comment_interaction.liked {
    color: var(--color-text-accent2);
}

.report-interaction {
    color: var(--color-text-accent);
    opacity: 0.5;
}