.comment_count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
    gap: 0.3rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    opacity: 0.9;
    transition: color 0.2s ease-in-out;
}

@media only screen and (max-width: 500px) {
    .comment_count {
        flex-direction: column;
        gap: 0;
        gap: 0.1rem;
    }

    .comment_count .comment_count-count {
        font-size: 0.7rem;
    }
}