@import "../App.css";

.feed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 3rem 8rem;
    box-sizing: border-box;
    gap: 5rem;
}

@media screen and (max-width: 768px) {
    .feed {
        flex-direction: column;
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 500px) {
    .feed {
        padding: 1rem;
    }
}