@import "../App.css";

.new-post {
    width: 100%;
    height: 90vh;
    padding: 4rem 12rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .new-post {
        padding: 2rem 2rem;
    }
}

.np-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

@media (max-width: 768px) {
    .np-container {
        flex-direction: column;
        gap: 2rem;
    }
}

.np-container .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 5;
}

.np-container .rules {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow: hidden;
    border-radius: 10px;
}

.np-container .rules .rule {
    padding: 1rem;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 1rem;
}

.np-container .rules .rule:nth-child(odd) {
    background-color: #343434;
}

.np-container .rules .rule .rule__index {
    font-weight: bold;
    color: var(--color-text-accent2);
}

.rule__text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--color-text-light);
}

.rule__subtext {
    font-size: 0.75rem;
    opacity: 0.5;
    font-weight: 100;
    margin-top: 0.1rem;
}

.rule_text_cont {
    display: flex;
    flex-direction: column;
}

.np-form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.type-tabs .type-tab {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    flex: 1;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.type-tabs .type-tab.selected {
    background-color: var(--color-btn-tertiary);
}

.np-form-group textarea {
    height: 8rem;
}

.np-form-group button img {
    width: 1.5rem;
    height: 1.5rem;
}