@import "../App.css";

.post {
    width: 100%;
    background-color: var(--color-primary-dark-3);
    box-sizing: border-box; 
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.post:hover {
    background-color: var(--color-primary-dark-4);
}


.post_clickable {
    cursor: pointer;
}


.post_contents {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    position: relative;
}

.post_subtitle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.25rem;

    font-size: 0.6rem;
    font-weight: 200;
    opacity: 0.7;
}

.post_title {
    margin: 1rem 0;
}

.post_content {
    max-height: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.post_content .post_fadeout {
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-primary-dark-3));
    transition: all 0.3s ease-in-out;
}

.post:hover .post_fadeout {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-primary-dark-4));
}

.post_interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.post_divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    margin: 1rem 0;
}

.post_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.post_report_icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
    opacity: 0.5;
    padding: 0.5rem;
    color: var(--color-text-accent);
    transition: all 0.2s ease-in-out;
}

.post_report_icon:hover {
    opacity: 1;
}

.post_following_banner {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--color-primary-accent);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.post_following_banner_pfp {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary-dark-3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid var(--color-primary-accent);
}

.post_following_banner_pfp:not(:first-child) {
    margin-left: -0.8rem;
}

.post_following_banner_text {
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--color-text-light);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.25rem;
}

ul.post_following_banner_text_list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

li.post_following_banner_text_list_item {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--color-text-light);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
}

/* make it separated by ", " */
li.post_following_banner_text_list_item:not(:first-child)::before {
    content: ", ";
}