@import "../App.css";

.save_post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
    gap: 0.3rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.2s ease-in-out;
}

.save_post.saved {
    color: var(--color-text-accent2);
}

@media only screen and (max-width: 500px) {
    .save_post {
        flex-direction: column;
        gap: 0;
        gap: 0.1rem;
    }

    .save_post .save_post-count {
        font-size: 0.7rem;
    }
}